.header_top {
  width: 100%;
  position: fixed;
  cs('background', 'base-header-background');
  padding: 10px 0;
  ms('padding-left', 5px 7px 9px 11px 13px 15px);
  ms('padding-right', 10px 10px 10px 11px 13px 15px);
  top: 0;
  z-index: 1000;

  .header_content {
    width: 100%;
    position: relative;
    display: flex;

    .header_left {
      width: 100%;
      position: relative;
      display: flex;
      color: #fff;

      .header_logo {
        ms('width', 72px 82px 92px 102px 112px 122px);
        display: flex;
        align-items: center;
        ms('margin-right', 15px 20px 35px 55px 75px 95px);

        img {
          width: 100%;
          display: block;
        }
      }

      .nav_wrap {
        padding-left: 5px;
        padding-right: 10px;
        height: 100%;
        right: 0;
        top: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .span_box {
          height: 16px;
          position: relative;
          width: 22px;

          span {
            width: 22px;
            position: absolute;
            left: 0;
            height: 2px;
            background: rgba(255, 255, 255, 0.7);
            transition();

            &:first-child {
              top: 0;
            }

            &:nth-of-type(2) {
              top: 50%;
              margin-top: -1px;
            }

            &:last-child {
              bottom: 0;
            }
          }
        }

        &.on {
          .span_box {
            span {
              background: $base-active-color;

              &:nth-of-type(1) {
                transform: translate3d(0, 7px, 0) rotate(45deg);
              }

              &:nth-of-type(2) {
                opacity: 0;
              }

              &:nth-of-type(3) {
                transform: translate3d(0, -7px, 0) rotate(-45deg);
              }
            }
          }
        }
      }
    }

    .header_nav {
      position: relative;
      display: flex;

      .nav_item {
        padding: 0 18px;
        position: relative;
        cursor: pointer;

        .nav_top {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 16px;
          cs('color', 'base-header-color');
          transition();

          &:hover, &.on {
            opacity: 0.8;

            .down {
              transform: rotate(180deg);
            }
          }

          &.router-link-active {
            color: $base-active-color;
          }

          .down {
            transition();
            width: 10px;
            display: inline-block;
            margin-left: 11px;
          }

          .fire {
            width: 13px;
            height: 17px;
            display: inline-block;
            margin-right: 7px;
            margin-top: -3px;
          }
        }

        .sub_nav_item {
          border: 1px solid transparent;
          border-radius: 9px;
          position: absolute;
          left: 0;
          top: 48px;
          width: auto;
          min-width: 160px;
          cs('background', 'base-header-background');
          cs('border-color', 'base-header-border-color');
          z-index: 1;

          a {
            border-top: 1px solid transparent;
            display: block;
            font-size: 14px;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            cs('border-top-color', 'base-header-border-color');

            &:first-child {
              border-top: none;
            }

            transition();

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .header_right {
      position: relative;
      display: flex;
      color: #fff;

      .other_content {
        position: relative;
        display: flex;

        .my_nfts {
          ms('margin-right', 0 10px 20px 30px 39px 39px);
          white-space: nowrap;
        }

        .exchange_rate {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-right: 9px;
          font-size: 16px;

          span {
            padding: 0 9px;
            display: block;
            word-break: keep-all;
            border-left: 1px solid #636363;
            border-right: 1px solid #636363;
          }
        }

        .lang_content {
          margin-right: 9px;

          .lang_text {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 16px;
            height: 100%;

            img {
              width: 22px;
              margin-right: 9px;
            }

            span {
              padding: 0 9px;
              display: block;
              word-break: keep-all;
              border-left: 1px solid #636363;
              border-right: 1px solid #636363;
              cursor: pointer;
            }
          }

          .lang_list {
            border: 1px solid transparent;
            border-radius: 9px;
            position: absolute;
            right: 0;
            top: 48px;
            width: auto;
            min-width: 120px;
            cs('background', 'base-header-background');
            cs('border-color', 'base-header-border-color');
            z-index: 1;

            a {
              border-top: 1px solid transparent;
              display: block;
              font-size: 14px;
              height: 40px;
              display: flex;
              align-items: center;
              padding: 0 16px;
              cs('border-top-color', 'base-header-border-color');

              &:first-child {
                border-top: none;
              }

              transition();

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        .theme_content {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  .small_nav_wrap {
    position: fixed;
    ms('top', 52px 55px 60px 65px 70px 70px);
    left: 0px;
    display: flex;
    flex-direction: column;
    ms('height', calc(100% - 52px) calc(100% - 55px) calc(100% - 60px) calc(100% - 65px) calc(100% - 70px) calc(100% - 70px));
    padding: 16px 0px;
    width: 236px;
    background-color: #000000;
    z-index: 100;

    .nav_pop_wrap {
      width: 100%;
      height: 100%;
      position: relative;

      .nav_pop_list {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;

        // border-top: 0.01rem solid #1f1d22;
        .nav_item {
          width: 100%;
          display: flex;
          align-items: center;
          display: block;
          transition: all 0.3s ease;
          position: relative;

          .nav {
            height: 48px;
            display: flex;
            align-items: center;
            overflow: hidden;
            font-weight: 400;
            font-size: 14px;
            font-family: FZBeiWeiKaiShu-Z15T;
            color: #FFFFFF;
            transition: all 0.3s ease;
            position: relative;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;

            &.router-link-active {
              // color: #000;
              background: $base-active-color;
              color: #000;
            }

            &::after {
              position: absolute;
              content: '';
              top: -50%;
              right: -50%;
              bottom: -50%;
              left: -50%;
              border-bottom: 0.01rem solid rgba(60, 46, 17, 0.5);
              transform: scale(0.5);
            }

            img {
              width: 13px;
              display: block;
              margin-right: 7px;
              margin-top: -3px;
            }
          }

          .top_list {
            width: 100%;
            position: relative;
            height: 48px;
            z-index: 1;
          }

          .sub_list {
            width: 100%;
            position: relative;
            padding-left: 12px;

            .nav {
              &::after {
                border-color: rgba(60, 46, 17, 0.5) !important;
                border-width: 1px 0 !important;
              }

              &.router-link-active {
                // color: #000;
                // background: $base-active-color;
              }
            }
          }

          &.router-link-active {
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 40px;
              width: 100%;
              background: #a28662;
            }

            &:before {
              opacity: 1;
            }

            .nav {
              &::after {
                border-color: #a28662;
                border-width: 0;
              }
            }
          }
        }
      }
    }
  }

  .small_mark {
    position: fixed;
    left: 0px;
    ms('top', 52px 55px 60px 65px 70px 70px);
    width: 100%;
    height: 100%;
    background-color: rgba(10, 22, 43, 0.5);
    z-index: 90;
  }
}

.slidedown-enter-active {
  transition: max-height 1.5s ease-in-out;
}

.slidedown-leave-active {
  transition: max-height 0 ease-in-out;
}

.slidedown-enter-to, .slidedown-leave-from {
  overflow: hidden;
  max-height: 1000px;
}

.slidedown-enter-from, .slidedown-leave-to {
  overflow: hidden;
  max-height: 0;
}

.small_common_list {
  width: 100%;
  position: relative;

  a {
    width: 100%;
    position: relative;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cs('color', 'base-font-color');
    border-radius: 8px;

    &.on {
      background: #f5a603;
      color: #000;
    }
  }
}