
.delay {
  animation-delay: 1s;
}

.slow {
  animation-delay: 0.5s;
}

&.animate__animated.fast {
  animation-duration: 0.4s;
}

&.animate__animated.slow {
  animation-duration: 0.8s;
}

&.animate__animated.middle {
  animation-duration: 0.5s;
}

&.animate__animated.middleOut {
  animation-duration: 0.7s;
}

a {
  color: #FFFFFF;
}

.Vue-Toastification__container {
  z-index: 10004 !important;

  .Vue-Toastification__toast--default {
    background: #8b785c;
  }

  .Vue-Toastification__toast--success {
    background: #8b785c;
  }

  .Vue-Toastification__toast-body {
    font-size: 0.14rem;
  }
}

.common_type {
  background: #8B785C;
  border-radius: 0.1rem;
}

.nft_title_wrap {
  width: 100%;
  position: relative;
  text-align: center;

  .nft_title {
    background-image: url('/@/assets/images/nft_title.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 0.5rem;
    display: inline-block;
    padding: 0 0.42rem;

    span {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.18rem;
      text-transform: uppercase;
    }
  }
}

.nft_btn_wrap {
  width: 100%;
  position: relative;
  text-align: center;

  .nft_btn {
    background-image: url('/@/assets/images/nft_btn.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 0.45rem;
    max-width: 2.33rem;
    width: 100%;
    margin: 0 auto;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.18rem;
      height: 100%;
    }
  }
}

.van-overflow-hidden {
  overflow: hidden !important;
}

.van-overlay {
  z-index: 10000 !important;
}