
.delay {
  animation-delay: 1s;
}

.slow {
  animation-delay: 0.5s;
}

&.animate__animated.fast {
  animation-duration: 0.4s;
}

&.animate__animated.slow {
  animation-duration: 0.8s;
}

&.animate__animated.middle {
  animation-duration: 0.5s;
}

&.animate__animated.middleOut {
  animation-duration: 0.7s;
}

a {
  color: #FFFFFF;
}

.Vue-Toastification__container {
  z-index: 10004 !important;

  .Vue-Toastification__toast--default {
    background: #f5a603;
    color: #000;
  }

  .Vue-Toastification__toast--success {
    background: #f5a603;
    color: #000;
  }

  .Vue-Toastification__toast-body {
    font-size: 14px;
  }
}


.van-overflow-hidden {
  overflow: hidden !important;
}

.van-overlay {
  z-index: 10000 !important;
}