:root[data-theme='dark'] {
  --bg-color: #302219;
}

dark = {
  name: 'dark',
  base-font-color: #fff,
  base-background-color: #17181E,
  base-header-color: #fff,
  base-header-border-color: #2E2E2E,
  base-header-background: #000000,
  base-select-background: #000000,
  base-select-color: #fff,
  base-swiper-background: #0F0F0F,
  base-box-background: #0F0F0F,
  base-title-color: #FFFFFF,
  base-filter-color: #f5a603,
  base-filter-border: #363636,
  base-filter-search-background: #000000,
  base-filter-search-icon: #fff,
  base-card-title-color: #878787,
  base-filter-scroll-background: #000000,
  base-nft-box-color: #878787,
  base-offer-box-color: #0f0f0f,
  base-card-box-color: #000000
};