
:root[data-theme='light'] {
  --bg-color: #fff;
}

light = {
  name: 'light',
  base-font-color: #17181E,
  base-background-color: #F5F7FA,
  base-header-color: #fff,
  base-header-border-color: #2E2E2E,
  base-header-background: #000000,
  base-select-background: #fff,
  base-select-color: #2E2E2E,
  base-swiper-background: #ffffff,
  base-box-background: #fff,
  base-title-color: #17181E,
  base-filter-color: #f5a603,
  base-filter-border: #E5E5E5,
  base-filter-search-background: #F5F7FA,
  base-filter-search-icon: #878787,
  base-card-title-color: #000000,
  base-filter-scroll-background: #fff,
  base-nft-box-color: rgba(227, 233, 241, 1),
  base-offer-box-color: rgb(197, 203, 212),
  base-card-box-color: rgba(227, 233, 241, 1)
};
