// 公共变量
$base-font-color = #fff; // 字体颜色
$base-background-color = #0d0c12; // 背景颜色
$base-active-color = #FFE87A; // 高亮颜色
$base-text-color = #FFFFFF; // 高亮颜色

// 白天
// light = {
//   name: 'light',
//   base-background-color: #0d0c12,
// };
// 黑色
// dark = {
//   name: 'dark',
//   base-background-color: red
// };
@import './light.styl'; // 白天
@import './dark.styl'; // 黑色

// 获取颜色 prop 自定义属性值, $color为定义中的对象
cs(prop, $color) {
  for item in light dark {
    [data-theme = {item.name}] & {
      {prop}: item[$color];
    }
  }
}